
<div class="big">
    <div class="up">
        <div class="up-left">
            <table>
                <tr>
                    <th>单词</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>
                                <a routerLink="/left/N-TWO"><li>N1词汇</li></a>
                            </li>
                            <li>
                                <a routerLink="/left/N-TWO"><li>N2词汇</li></a>
                            </li>
                            <li>
                                <a routerLink="/left/N-THREE"><li>N3词汇</li></a>
                            </li>
                            <li>
                                <a routerLink="/left/N-FORE"><li>N4词汇</li></a>
                            </li>
                            <li>
                                <a routerLink="/left/N-FIVE"><li>N5词汇</li></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="up-center">
            <app-rotation></app-rotation>
            
        </div>
        <div class="up-right">
            <table>
                <tr>
                    <th>语法</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>
                                <a routerLink="/pro-left/pro-five"><li>N1语法</li></a>
                            </li>
                            <li>
                                <a routerLink="/pro-left/pro-two"><li>N2语法</li></a>
                            </li>
                            <li>
                                <a routerLink="/pro-left/pro-three"><li>N3语法</li></a>
                            </li>
                            <li>
                                <a routerLink="/pro-left/pro-fore"><li>N4语法</li></a>
                            </li>
                            <li>
                                <a routerLink="/pro-left/pro-five"><li>N5语法</li></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="down">
        <div class="down-left">
            <div class="one">
                <p>歌曲推荐</p>
            </div>
            <div class="two">
                <ul>
                    <a routerLink="/fashion"><li>流行歌曲</li></a>
                    <a routerLink="/new"><li>最新专辑</li></a>
                    <a routerLink="/singer"><li>歌手排行</li></a>
                    <!-- <li>最新专辑</li>
                    <li>歌手排行</li> -->
                </ul>
                <!-- <p>流行歌曲</p>
                <p>古典歌曲</p>
                <p>传统歌曲</p> -->
            </div>
        </div>
        <div class="down-center">
            <div class="one">
                <p>电影</p>
            </div>
            <div class="two">
                <ul>
                    <li>爱情电影</li>
                    <li>动作电影</li>
                    <li>动画电影</li>
                </ul>
                <!-- <p>爱情电影</p>
                <p>动作电影</p>
                <p>动画电影</p> -->
            </div>
        </div>
        <div class="down-right">
            <div class="one">
               <p>新闻</p> 
            </div>
            <div class="two">
                <ul class="news">
                    <a href="https://www3.nhk.or.jp/news/html/20200318/k10012338031000.html?utm_int=news-international_contents_list-items_002">
                        <li>新型コロナウイルスの検査 世界の検査数は？ 日本の現状は？</li>
                    </a>
                    <a href="https://www3.nhk.or.jp/news/html/20200318/k10012337851000.html?utm_int=news-international_contents_list-items_007">
                        <li>日本からの入国制限・行動制限措置を実施している国・地域一覧</li>
                    </a>
                    <a href="https://www3.nhk.or.jp/news/html/20200318/k10012337701000.html?utm_int=news-international_contents_list-items_011cc">
                        <li>中国政府 「アビガン」に治療効果 診療指針に正式採用へ</li>
                    </a>
                </ul>
               
            </div>
            
        </div>
        <div class="hello">
            早上好
        </div>
    </div>
</div>