<div class="wrap">
    <ul class="list">
        <!-- <a routerLink="page"><img src="./assets/img/title.png" alt=""></a> -->
        <li class="items"><img src="../../../../assets/img/jd01.png" alt=""></li>
        <li class="items"><img src="../../../../assets/img/jd02.png" alt=""></li>
        <li class="items"><img src="../../../../assets/img/jd03.png" alt=""></li>
        <li class="items"><img src="../../../../assets/img/jd04.png" alt=""></li>
    </ul>
    <ol class="pointlist">
        <!-- <li class="point active" data-index='0'></li>
        <li class="point" data-index='1'></li>
        <li class="point" data-index='2'></li> -->
    </ol>
    <button type="button" class="but" id="goon"><</button>
    <button type="button" class="but" id="gonext">></button>
</div>