<div class="out">
    <div class="on">
        <div class="on-head">
            <div class="row"></div>
            <p>我的公众号</p>
            <div class="hr"></div>
        </div>
        <div class="on-body">
            <div class="my-img">
                <img src="./assets/img/gongzhong/mygz.jpg" alt="">
            </div>
            
        </div>
    </div>
    <div class="down">
        <div class="on-head">
            <div class="row"></div>
            <p>推荐公众号</p>
            <div class="hr"></div>
        </div>
        <div class="on-body">
            <img src="" alt="">
        </div>
    </div>

    <div class="down">
        <div class="on-head">
            <div class="row"></div>
            <p>留言板</p>
            <div class="hr"></div>
        </div>
        <div class="on-body">
            <textarea name="" id="" cols="150" rows="10"></textarea>
            <button id="but">发布</button>
            <ul id="uls">
                
                <!-- <li>123</li> -->
            </ul>
        </div>
    </div>
</div>