<div class="top-out">
    <div class="top-left">
        <a routerLink="page"><img src="./assets/img/title.png" alt=""></a>
        
    </div>
    <div class="top-center">
        <ul>
            <div class="dropdown">
                <a routerLink="left/N-TWO"><li class="dropbtn" class="thr">单词</li></a>
                
                <div class="dropdown-content">
                    <a routerLink="/left/N-TWO">N1词汇</a>
                    <a routerLink="/left/N-TWO">N2词汇</a>
                    <a routerLink="/left/N-THREE">N3词汇</a>
                    <a routerLink="/left/N-FORE">N4词汇</a>
                    <a routerLink="/left/N-FIVE">N5词汇</a>
                    <!-- <a routerLink="word-one">N1词汇</a>
                    <a routerLink="word-two">N2词汇</a>
                    <a routerLink="word-three">N3词汇</a>
                    <a routerLink="word-four">N4词汇</a>
                    <a routerLink="word-five">N5词汇</a> -->
                  <!-- <a href="#"></a>
                  <a href="#"></a>
                  <a href="#">N3词汇</a>
                  <a href="#">N4词汇</a>
                  <a href="#">N5词汇</a> -->
                </div>
            </div>

            <div class="dropdown">
                <a routerLink="pro-left"><li class="dropbtn" class="thr">语法</li></a>
                <!-- <li class="dropbtn" class="thr">语法</li> -->
                <div class="dropdown-content">
                    <a routerLink="/pro-left/pro-one">N1语法</a>
                    <a routerLink="/pro-left/pro-two">N2语法</a>
                    <a routerLink="/pro-left/pro-three">N3语法</a>
                    <a routerLink="/pro-left/pro-fore">N4语法</a>
                    <a routerLink="/pro-left/pro-five">N5语法</a>
                </div>
            </div>

            <div class="dropdown">
                <a routerLink="sing" class="thr"><li class="dropbtn">歌曲</li></a>
                <!-- <li class="dropbtn">歌曲</li> -->
              
            </div>

            <div class="dropdown">
                <a routerLink="action" class="thr"><li class="dropbtn">电影</li></a>
                
                <!-- <div class="dropdown-content">
                  <a routerLink="love">爱情电影</a>
                  <a routerLink="cartoon">动画电影</a>
                  
                </div> -->
            </div>

            <div class="dropdown">
                <a href="https://www.nhk.or.jp/" class="thr"><li class="dropbtn">新闻</li></a>
                <!-- <div class="dropdown-content">
                  <a href="https://www.nhk.or.jp/">NHK</a>
                  <a href="#">国内新闻</a>
                  <a href="#">国外新闻</a>
                </div> -->
            </div>
           
            <!-- <li>语法</li>
            <li>歌曲</li>
            <li>电影</li>
            <li>新闻</li> -->
        </ul>
    </div>
    <div class="top-right">
        <div>
            <input type="text" name="" id="serch" value="搜索不好用，白叟">
            <button (click)="toSerch()">搜索</button>
        </div>
        <div class="two">
            <a routerLink="login"><p>登录</p></a>
            <!-- <p>登录</p> -->
            <div class="row-hr"></div>
            <a routerLink="register"><p>注册</p></a>
            <!-- <p>注册</p>register -->
        </div>
    </div>
</div>