
<table>
    <tr class="tro">
        <td class="tdo">站外推荐</td>
    </tr>
    <tr>
        <td>
            <ul>
                <!-- <a routerLink = "/admin/grammerAdmin" >语法管理</a> -->
                <a routerLink="/left/mychat"><li>我的公众号</li></a>
                <a href="https://news.yahoo.co.jp/"><li>雅虎日本</li></a>
                <a href="https://www.nhk.or.jp/"><li>NHK新闻</li></a>
                <a href="https://class.hujiang.com/"><li>沪江日语</li></a>
            </ul>
        </td>
    </tr>
</table>