
<table>
    <tr class="tro">
        <td class="tdo">热门推荐</td>
    </tr>
    <tr>
        <td>
            <ul>
                <a routerLink="/left/N-TWO"><li>二级词汇</li></a>
                <a routerLink="/pro-left/pro-two"><li>二级语法</li></a>
                <a routerLink="/pro-left/pro-three"><li>三级语法</li></a>
                <a routerLink="/left/N-THREE"><li>三级词汇</li></a>
                <a routerLink="/pro-left/pro-fore"><li>四级语法</li></a>
                <a routerLink="/left/N-FORE"><li>四级词汇</li></a>
                <!-- <li>二级词汇</li>
                <li>二级语法</li>
                <li>三级语法</li>
                <li>三级词汇</li>
                <li>四级语法</li>
                <li>四级词汇</li>
                <li>推荐歌曲</li>
                <li>电影</li> -->
            </ul>
        </td>
    </tr>
</table>