<div class="big">
    <div class="one">
        <div class="head">
            <p>热门推荐</p>
        </div>
        <div class="cut-off"></div>
        <div class="down">
            <div class="mov">
                <a href="http://www.5nj.com/?m=vod-play-id-137071-src-1-num-1.html">
                    <img src="./assets/img/movie/tianqi.jfif" alt="">
                </a>
            </div>
            <div class="mov">
                <a href="http://www.5nj.com/?m=vod-play-id-141211-src-1-num-1.html">
                    <img src="./assets/img/movie/destiny.jfif" alt="">
                </a>
                
            </div>
            <div class="mov">
                <a href="http://www.5nj.com/?m=vod-play-id-129155-src-1-num-1.html">
                    <img src="./assets/img/movie/qianyv.jfif" alt="">
                </a>
                
            </div>
            <div class="mov">
                <a href="http://www.5nj.com/?m=vod-play-id-108550-src-1-num-1.html">
                    <img src="./assets/img/movie/summer.jfif" alt="">
                </a>
                
            </div>
            <div class="mov">
                <a href="http://www.5nj.com/?m=vod-play-id-128663-src-1-num-1.html">
                    <img src="./assets/img/movie/totoro.jfif" alt="">
                </a>
                
            </div>
            <div class="mov">
                <a href="">
                    <img src="./assets/img/movie/hello.jfif" alt="">
                </a>
                
            </div>
        </div>
    </div>
    <div class="two">
        <div class="head">
            <p>动作电影</p>
        </div>
        <div class="cut-off"></div>
        <div class="down">
            <div class="mov">
                <a href="http://www.5nj.com/?m=vod-play-id-137071-src-1-num-1.html">
                    <img src="./assets/img/movie/school.jfif" alt="">
                </a>
            </div>
            <div class="mov">
                <a href="http://www.5nj.com/?m=vod-play-id-18325-src-1-num-1.html">
                    <img src="./assets/img/movie/school2.jfif" alt="">
                </a>
                
            </div>
            <div class="mov">
                <a href="http://www.5nj.com/?m=vod-play-id-150440-src-1-num-1.html">
                    <img src="./assets/img/movie/gir.jfif" alt="">
                </a>
                
            </div>
            <div class="mov">
                <a href="http://www.5nj.com/?m=vod-play-id-40507-src-1-num-1.html">
                    <img src="./assets/img/movie/gintama.jfif" alt="">
                </a>
                
            </div>
            
        </div>
    </div>
    <div class="three">
        <div class="head">
            <p>犯罪电影</p>
        </div>
        <div class="cut-off"></div>
        <div class="down">
            <div class="mov">
                <a href="http://www.5nj.com/?m=vod-play-id-113264-src-1-num-1.html">
                    <img src="./assets/img/movie/black.jfif" alt="">
                </a>
            </div>
            <div class="mov">
                <a href="http://www.5nj.com/?m=vod-play-id-103499-src-1-num-1.html">
                    <img src="./assets/img/movie/family.jfif" alt="">
                </a>
                
            </div>
            <div class="mov">
                <a href="http://www.5nj.com/?m=vod-play-id-121340-src-1-num-1.html">
                    <img src="./assets/img/movie/lopin.jfif" alt="">
                </a>
                
            </div>
            <div class="mov">
                <a href="http://www.5nj.com/?m=vod-play-id-146100-src-1-num-1.html">
                    <img src="./assets/img/movie/gray.jfif" alt="">
                </a>
                
            </div>
            
        </div>
    </div>
</div>
