<div class="big">
    <!-- <div class="left">
        <div class="left-one">
            <app-dayju></app-dayju>
        </div>
        <div class="left-two">
            <app-hot></app-hot>
        </div>
        <div class="left-three">
            <app-recommend></app-recommend>
        </div>
    </div> -->
    <div class="right">
        <table border="1px">
            <tr>
                <th class="number">编号</th>
                <th class="word">单词</th>
                <th class="kana">假名</th>
                <th class="translate">翻译</th>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
        </table>
    </div>
</div>