<div class="out">
    <div class="login">
        <div class="login-head">
            <p>登录</p>
        </div>
        <div class="login-body">
            <div>用户名：<input type="text" [(ngModel)]="storage.longin.username"></div>
            <div>
                密码：<input type="password" [(ngModel)]="storage.longin.password" id="pass">
                <img src="../../../assets/img/password/close.png" alt="" id = 'image'>
            </div>
            
            
        </div>
        <div class="login-food">
            <a routerLink="page">
                <button (click)="getLogin()">
                    登录
                </button>
            </a>
            
        </div>
    </div>
</div>