<!-- <div class="out">
    <div class="on">
        <div class="on-head">
            <div class="row"></div>
            <p>我的公众号</p>
            <div class="hr"></div>
        </div>
        <div class="on-body">
            <img src="" alt="">
        </div>
    </div>
    <div class="down">
        <div class="on-head">
            <div class="row"></div>
            <p>推荐公众号</p>
            <div class="hr"></div>
        </div>
        <div class="on-body">
            <img src="" alt="">
        </div>
    </div>
</div> -->
<div>
    <app-weixin></app-weixin>
</div>