<table border="1">
    <tr>
        <th>编号</th>
        <th>语法</th>
        <th>解释</th>
        <th>操作</th>
    </tr>
    <tbody>
        <tr>
            <!-- <td>
                <input type="text" class="tex" value="{{item.id}}"> 
            </td>
            <td>
                <input type="text" class="tex" value="{{item.program}}"> 
            </td>
            <td>
                <input type="text" class="tex" value="{{item.translate}}">
            </td> -->
            <!-- <td class="but">
                <input type="button" value="增加">
                <input type="button" value="删除" (click)="delect()" class="del">
            </td> -->
        
      
        
    </tr>
    </tbody>
</table>